<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>NewWorld</title>
        
        <script type="text/javascript" src="{{ STATIC_URL }}ext-3.4.0/adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}ext-3.4.0/ext-all.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ext-3.4.0/resources/css/ext-all.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ext-3.4.0/examples/shared/examples.css" />

        <script type="text/javascript" src="{{ STATIC_URL }}OpenLayers-2.12/OpenLayers.debug.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/GeoExt.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>

        <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=sensor=false&amp;key=ABQIAAAASfdqEQTIBj55I22mjTNwhhRztyOfbm35_VK1CAYyThhuOVyq3BQqwp_JkHSBpWPhKuc4Hfy42pQUww"
            ></script>
        
        <script type="text/javascript" src="{{ STATIC_URL }}js/moment.min.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/00settings.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/05olmap.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/10urlhash.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/15LList.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/30widgets.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/35time.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/40menus.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/45tree.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/50kml.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/55login.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/60toolbar.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/65mappanel.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/75viewport.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/95finish.js"></script>
    </head>
    <body>
    <div id="permalink"></div>
    <div id="mappanel"></div>
    <iframe style="width:0px;height:0px;border:0px;" id="kmliframe"  name="kmliframe" >
    </iframe>
    </body>
</html>

